img {
    border: outset black;
    height: 100px;
    justify-content: center;
    padding: 5px;
    background: #ffb3fb;
}

.heading {
    border: outset black;
    padding: 20px;
    margin: 22px;
    display: flex;
    justify-content: center;
    font-family: 'Henny Penny', cursive;
    color: white;
    background: #aeace6;

}

p {
    border: dashed;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    font-family: 'Kalam', cursive;
}
ol {
    border: dashed;
    padding: 20px;
    margin: 20px;
    font-family: 'Kalam', cursive;
}
.paragraph {
    background: #d6ace6;
    
}